/* Body CSS */
html, body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../images/background.jpg'); 
    background-size: 100%;
}

.container {
    opacity: 0.9;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-top: 20px;
    padding: 25px;
    text-align: justify;
}

@media only screen and (min-width: 700px) {
    .container {
        width: 700px;
    }
}

#main_container strong {
    padding-left: 5px;
    font-size: 16px;
}

#main_container h3 {
    text-align: center;
    font-weight: bold;
}

.my_icon a {
    vertical-align: -50%;
}

/* For listed items */
.preview_item {
    width: 95%;
    margin: auto;
    border: 1px solid Black;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    margin-top: 20px;
    position: relative;
}

#x {
    position: absolute;
    border-radius: 20%;
    color: black;
    top: -10px;
    right: -10px;
}

#preview_buttons {
    margin-top: 20px;
}


/* Result  */
#result {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 30px 30px 30px 30px;
    font-size: 250%;
}

/* Footer  */
.footer {
    color: #ffffff;
    text-align: center;
    background-color: #055c6b;
    padding-top: 30px;
    padding-bottom: 10px;
}

.footer p {
    color: lightgray;
    font-size: small;
}

.footer a {
    color:#ffffff;
    text-decoration:none;
}

#info_msg {
    text-align: center;
}

form {
    margin-top: 10px;
}

/* Glossary Page  */
#duty_rate_glossary,
#levy_rate_glossary,
#processing_fee_glossary {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
}

/* #about_container {
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
} */

h4 {
    font-size: 20px;
}