/* BASIC PAGE CSS */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #ffffff;
  padding: 10px;
  padding-right: 100px;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #020202;
  text-align: center;
  padding: 14px 16px;
  padding-top: 25px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  color: rgb(2, 162, 255);
}

/* Style the footer */
.upper-footer {
  color: #ffffff;
  text-align: center;
  background-color: #055c6b;
  padding: 40px;
  padding-right: 30px;
}

/* Style the footer */
.footer {
  background-color: #313131;
  padding: 10px;
  padding-right: 10px;
}

/* Controls the body of the page*/
div.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/* END OF BASIC CSS */

/* START OF HOME PAGE CSS */
/* Changes the font */
body {
  font-family: Arial;
}

/* Controls the boxes */
input[type=text], select {
  width: 33.5%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number] {
  width: 11%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Controls the submit button */
input[type=submit] {
  width: 33.5%;
  background-color: rgb(0, 192, 199);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.image-container {
  position: center;
  width: 100%;
  max-width: 400px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.image-container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(0, 158, 197);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.image-container .btn:hover {
  background-color: black;
}
/* END OF HOME PAGE CSS */