/* BASIC PAGE CSS */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the footer */
.upper-footer {
  color: #ffffff;
  text-align: center;
  background-color: #055c6b;
  padding: 40px;
  padding-right: 30px;
}

/* Style the footer */
.footer {
  background-color: #313131;
  padding: 10px;
  padding-right: 10px;
}

/* Controls the body of the page*/
div.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/* END OF BASIC CSS */

/* START OF HOME PAGE CSS */
/* Changes the font */
body {
  font-family: Arial;
}

/* Controls the boxes */
input[type=text], select {
  width: 89%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number] {
  width: 89%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[id=pdimensions] {
  width: 28.5%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[list=pcategory] {
  width: 89%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Controls the submit button */
input[type=submit] {
  width: 33.5%;
  background-color: rgba(250, 113, 1, 0.945);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #055c6b;
}

/*ADD REMOVE BUTTONS*/
button {
  background-color: #055c6b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(250, 113, 1, 0.945);
}

.image-container {
  position: center;
  width: 100%;
  max-width: 400px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.image-container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(0, 158, 197);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.image-container .btn:hover {
  background-color: black;
}
/* END OF HOME PAGE CSS */


/* CONTACT PAGE CSS */
/*//////////////////////////////////////////////////////////////////
[ Contact 1 ]*/

.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  background-image: url("background.jpg");
  background-size: 100%;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-contact1 {
  width: 650px;
  background-image:linear-gradient(rgba(250, 249, 252, 0.808),rgba(250, 249, 252, 0.808));
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 90px 130px 88px 148px;
}

/*------------------------------------------------------------------
[  ]*/
.contact1-pic {
  width: 296px;
}

.contact1-pic img {
  max-width: 100%;
}


/*------------------------------------------------------------------
[  ]*/
.contact1-form {
  width: 390px;
}

.contact1-form-title {
  display: block;
  font-family: Montserrat-ExtraBold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

input.input1 {
  height: 50px;
  width: 100%;
  border-radius: 25px;
  padding: 0 30px;
}
input.input1 + .shadow-input1 {
  border-radius: 25px;
}

textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
  border-radius: 25px;
}

/*---------------------------------------------*/
.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.input1 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
}

.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(250, 113, 1, 0.945);
}

.input1:focus + .shadow-input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

/*---------------------------------------------*/
.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: rgba(250, 113, 1, 0.945);
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn i {
  margin-left: 7px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn:hover {
  background: #055c6b;
}

.contact1-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
  .contact1-pic {
    width: 33.5%;
  }

  .contact1-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .container-contact1 {
    padding: 90px 80px 88px 90px;
  }

  .contact1-pic {
    width: 35%;
  }

  .contact1-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px;
  }

  .contact1-pic {
    display: none;
  }

  .contact1-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container-contact1 {
    padding: 90px 15px 88px 15px;
  }
}
/* END OF CONTACT PAGE CSS */

/* GLOSSARY PAGE */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background: no-repeat scroll 0 0 transparent;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.container-glossary{
  width: 1163px;
  background-image:linear-gradient(rgba(250, 249, 252, 0.808),rgba(250, 249, 252, 0.808));
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 90px 130px 88px 148px;
}

/*END OF GLOSSARY PAGE*/

/*START OF NAV BARS*/
/*INDEX NAV BAR*/
/* Style the top navigation bar */
.topnav-index {
  overflow: hidden;
  background-color: #ffffff;
  padding: 10px;
  padding-right: 100px;
}

/* Style the topnav links */
.topnav-index a {
  float: right;
  display: block;
  color: #020202;
  text-align: center;
  padding: 14px 16px;
  padding-top: 25px;
  text-decoration: none;
}

/* Change color on hover */
.topnav-index a:hover {
  color: rgb(2, 162, 255);
}

/*CONTACT NAV BAR*/
/* Style the top navigation bar */
.topnav-contact {
  overflow: hidden;
  background-color: #ffffff;
  padding: 10px;
  padding-right: 100px;
}

/* Style the topnav links */
.topnav-contact a {
  float: right;
  display: block;
  color: #020202;
  text-align: center;
  padding: 14px 16px;
  padding-top: 25px;
  text-decoration: none;
}

/* Change color on hover */
.topnav-contact a:hover {
  color: rgba(238, 14, 100, 0.5);
}

/*GLOSSARY NAV BAR*/
/* Style the top navigation bar */
.topnav-glossary {
  overflow: hidden;
  background-color: #ffffff;
  padding: 10px;
  padding-right: 100px;
}

/* Style the topnav links */
.topnav-glossary a {
  float: right;
  display: block;
  color: #020202;
  text-align: center;
  padding: 14px 16px;
  padding-top: 25px;
  text-decoration: none;
}

/* Change color on hover */
.topnav-glossary a:hover {
  color: rgba(46, 243, 6, 0.979);
}

/*ABOUT NAV BAR*/
/* Style the top navigation bar */
.topnav-about {
  overflow: hidden;
  background-color: #ffffff;
  padding: 10px;
  padding-right: 100px;
}

/* Style the topnav links */
.topnav-about a {
  float: right;
  display: block;
  color: #020202;
  text-align: center;
  padding: 14px 16px;
  padding-top: 25px;
  text-decoration: none;
}

/* Change color on hover */
.topnav-about a:hover {
  color: rgba(243, 227, 6, 0.979);
}

/*END OF NAV BARS*/

.container-aboutus{
  width: 1163px;
  background-image:linear-gradient(rgba(250, 249, 252, 0.808),rgba(250, 249, 252, 0.808));
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 90px 130px 88px 148px;
}

.one{
  padding-bottom: 70px;
}


/*PRIVACY and TERMS container*/
.container-privacy {
  width: 1163px;
  background-image:linear-gradient(rgba(250, 249, 252, 0.808),rgba(250, 249, 252, 0.808));
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 90px 130px 88px 148px;
}