/* Body CSS */
body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/background.jpg");
    background-size: 100%;
}

.container {
    opacity: 0.8;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: auto;
    margin-top: 20px;
    width: 500px;
    padding: 15px;
}

#info_msg {
    text-align: center;
}

.my_icon a {
    vertical-align: -50%;
}

/* For listed items */
#list_item {
    width: 95%;
    margin: auto;
    border: 1px solid Black;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    margin: 20px 20px 20px 20px;
    position: relative;
}

#x {
    position: absolute;
    border-radius: 20%;
    color: black;
    top: -10px;
    right: -10px;
}

/* Result  */
#result {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 30px 30px 30px 30px;
    font-size: 250%;
}
